/* colors
blue container: #C2DDFC;
blue text: #091459;
cornflower blue bars/links: #889BB0;
jcarousel background: #FFFFFF;
*/

body {
    background: #C2DDFC;
    font-family: Franklin Gothic medium, sans-serif;
}
a {
    color: #889BB0;
    text-decoration:none;
}

#container {
    background: #F0F7FE repeat-y;
    color: #091459;
	width: 960px;
    height: 600px;
    margin: 0 auto;
}
#header {
    background: #F0F7FE repeat-y;
	height: 30px;
    text-align:center;
}
#footer {
    background: #F0F7FE repeat-y;
	height: 68px;
    clear: both;
    text-align: center;
    border-top: .3em solid #889BB0;
}
#content {
	width: 820px;
	float: left;
    background: #28CAB7 no-repeat;
    height: 335px;
    clear: both;
}
#navigation {
	width: 100px;
	float: left;
}
/* rows for 3 column header */
#row1 {
    width:33%;
    height:100px;
    vertical-align: middle;
    text-align:center;
    float:left;
    border-bottom: .3em solid #889BB0;
}
#row2 {
    width:33%;
    height:100px;
    vertical-align: middle;
    text-align:center;
    float:left;
    border-bottom: .3em solid #889BB0;
}
#row3 {
    width:33%;
    height:100px;
    vertical-align: middle;
    text-align:center;
    float:left;
    border-bottom: .3em solid #889BB0;
}
#message {
    padding:2em;
    text-align: center;
    font-size: 2.5em;
    text-transform:capitalize;
    color:#091459;
    background: #C2DDFC;
}